<%= form_tag '/top/login',method: :post do %>
 <%= label_tag :uid, 'ユーザー名' %>
 <%= text_field_tag :uid %>
 <%= label_tag :pass, 'パスワード'%>
 <%= password_field_tag :pass %>
 <%= submit_tag 'ログイン' %>

<% end %>
  <%= link_to 'サインアップ','top/new' %>