<%= form_tag '/top/signin',method: :post do %>
 <p>サインアップ</p>
 <%= label_tag :uid, 'ユーザー名' %>
 <%= text_field_tag :uid %>
 <%= label_tag :pass, 'パスワード'%>
 <%= password_field_tag :pass %>
 <%= submit_tag 'サインアップ' %>
<% end %>